body {
  background-color: #FCFCFC;
}

.navbar {
  width: auto;
  height: 59px;
  background-color: #191919;
  border: solid 1px #191919;
  padding: 0px 20px;
}

.logo {
  width: 118px;
  height: 31px;
  font-family: 'Candara';
  font-size: 25px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.24;
  letter-spacing: normal;
  text-align: left;
  color: #edca01;
}

.reserved-in-car {
  height: 26px;
  font-family: 'Fira Sans', sans-serif;
  font-size: 25px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.39;
  letter-spacing: normal;
  text-align: center;
  color: #090909;
}

.metal-dish {
  width: 50%;
  height: 440px;
  text-align: center;
}
